.DashboardExpenses-container {
    width: 300px;
    height: 150px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    border-radius: 10px;
}

.DashboardExpenses-row {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.DashboardExpenses-icon-left {
    margin-left: 0;
    margin-top: 15px;
}

.DashboardExpenses-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}


.DashboardExpenses-title {
    margin-left: 0;
    font-weight: bold;
    color: rgb(26, 90, 174);
    margin-top: 20px;
}

.DashboardExpenses-value {
    margin-left: 0;
    font-size: 24px;
    font-weight: bold;
}
