.bargraph-wrapper {
    overflow-x: auto;
    overflow-y: hidden; 
    margin-bottom: 20px;
    max-height: 500px;
    height: auto;
    margin-right: 200px;
    margin-left: 20px;
    
}

.bargraph {
    background-color: white;
    width: 940px; 
    padding: 20px;
    margin: 0 auto; 
}

@media (max-width: 600px) {
    .bargraph-wrapper {
        max-width: 400px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .bargraph {
        padding: 10px;
        width: 800px; 
    }
}
