.dashboard-networth-income-expenses{
    display: flex;
}

.dashboard-networth,.dashboard-income,.dashboard-expenses{
    padding-top: 20px;
    padding-left: 20px;
}

.dashboard-networth,.dashboard-income{
    padding-right: 20px;
}

.dashboard-expenses{
    padding-bottom: 20px;
}

.dashboard-container {
    width: 100%; 
    max-width: 1200px; 
}

@media only screen and (max-width: 1100px) {
    .dashboard-networth-income-expenses {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .dashboard-networth-income-expenses {
        flex-direction: column; 
        margin-top: 50px;
       
    }
}