.History-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.History-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.History-input, 
.History-select, 
.History-button {
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
}

.History-select {
    width: 30%;
    margin-right: 1.5%;
}

.history-submitbutton {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.History-button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 20%;
}

.History-button:hover {
    background-color: #0056b3;
}

.History-list {
    margin-bottom: 20px;
}

.History-title {
    border-bottom: 2px solid #007BFF;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.History-item {
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.History-item button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.History-item button:hover {
    opacity: 0.8;
}

.History-item button:focus {
    outline: none;
}

.History-item button:nth-child(1) {
    background-color: #4BC0C0;
    color: white;
}

@media (max-width: 1200px) {
    .History-container{
        margin-top: 70px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
}

@media (max-width: 600px) {
    .History-container{
        margin-top: 70px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .History-form {
        flex-direction: column;
    }
    
    .History-input, 
    .History-select {
        width: 80%;
        margin-right: 0;
    }

    .History-button {
        width: 100%;
    }

    .History-item button {
        font-size: 12px;
    }
}
